{:kotoba.app/id "cloud.itonami.isic-3313", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihpp3nwxgcun7ffuk2ofvbzwashafnopdvh7xdiz52htymnoxjgz4", :kotoba.app/embed-url "ipfs://bafkreihpp3nwxgcun7ffuk2ofvbzwashafnopdvh7xdiz52htymnoxjgz4", :published {:archive "https://kotobase.net/ipfs/bafkreihpp3nwxgcun7ffuk2ofvbzwashafnopdvh7xdiz52htymnoxjgz4", :size 73222, :put-status 201, :get-status 200, :at "2026-08-15T14:06:43.834Z"}}
